MONGODB_URI="mongodb+srv://soufyen:soufyen159753@cluster0.kpfkdne.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
CLIENT_URL=http://localhost:3000
SESSION_SECRET=secret
GOOGLE_CLIENT_ID=427898139057-j9s4cuj02jgurk20gso8mo60tarlhdp2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
UPSTASH_REDIS_REST_URL=https://tough-buck-24108.upstash.io
UPSTASH_REDIS_REST_TOKEN=AV4sAAIjcDE0MTViY2JhMzlmZDM0NGRmYmZmNjdiMTIwNTQyNjI3N3AxMA
STRIPE_WEBHOOK_SECRET=sk_test_4eC39HqLyjWDarjtT1zdp7dc
STRIPE_SECRET_KEY=pk_test_51LkOUGAlw2od07ltwfq0DO4jQneXaFSyRQsvun7NmAR0wzceD45nactw6sgIfHXcrZvyIsQY0ZB6WWVI0n2xn1pC00cZBOku8o
GEMINI_API_KEY=AIzaSyBITQC2pfv67yIm4Huet_CHsMAmeBKOCRg
RESEND_API_KEY=re_25ERWP3G_Jo5yxGx6LCFpHRByttFCaKsG